html, body {
    width: 100%;
    height: 100%;
    padding: 2rem;
    font-family: BlinkMacSystemFont, cursive;
}

.home-title{
    text-align: center;
    margin: 0;
    padding: 4rem 0;
}

.row{
    background-color: #e1e1e1;
    padding-bottom: 5%;
}

.card{
    width: 50%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 25%;
}

@media (max-width: 400px) {
    .home-title{
        font-size: 35px;
    }

    .card{
        font-size: 10px !important;
    }
    .card-title{
        font-size: 15px !important;
        word-break: break-all;
    }
}

.card:hover{
    background-color: #00a796 !important;
}
